<h1 class="font-bold mb-2 text-center">{{ title | titlecase }}</h1>
<ng-container *ngIf="cartService.currentCart !== undefined; else cartEmpty">
    <ng-container *ngIf="cartService.currentCart.products.length; else cartEmpty">
        <div class="w-full inline-grid place-items-stretch md:grid-cols-2 md:gap-2 lg:grid-cols-3 lg:gap-4 px-4 mb-4">
            <div class="table w-full">
                <div class="table-header-group">
                    <div class="table-row">
                        <div class="table-cell w-28"></div>
                        <div class="table-cell text-left w-1/auto">Title</div>
                        <div class="table-cell text-center w-1/12">Price</div>
                        <div class="table-cell text-center w-1/12">Quantity</div>
                        <div class="table-cell text-center w-1/12">Action</div>
                    </div>
                </div>
                <div class="table-row-group">
                    <ng-container
                        *ngFor="let product of cartService.currentCart.products | findProducts:productService.products:cartMetadata">
                        <app-cart-product class="table-row mb-8 pb-8" [product]="product"></app-cart-product>
                    </ng-container>
                </div>
            </div>
            
            <hr>
            <div *ngIf="cartMetadata.count">Total price {{cartMetadata.price | number:'2.2' | currency:' UAH '}}</div>
        </div>
    </ng-container>
</ng-container>

<ng-template #cartEmpty>
    <div class="text-center">Cart empty</div>
</ng-template>